.avatar {
    border-radius: 50%;
    margin-top: 5%;
}
.avatar {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/* Selected Works */
.container_1{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: left; 
    padding: 20px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    font-size: 25px; 
}
/* Photography */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
/* Big Photo */
.middle {
    grid-area: 2/ 1/ 3/ 3;
    padding-left: 5px;
}
/* Currently Listening */
.group{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    grid-row-gap: 8px;
    grid-column-gap: 7px;
    text-align: center;
    letter-spacing: 1px;
    margin-left: -5px;
    font-size: 17px;
}
/* Lines between sheets */
hr {
    background-color: grey;
    color: grey;
}
/* Body of html */
body{
    margin-left: 165px;
    margin-right: 280px;
    background-color: black;
    line-height: 1.2;
    font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
}
/* hr line break */
#double {
    border-top: 2px double grey;
}
/* line break */
hr {
    color: grey;
}
/* Color of text */
a {
    text-decoration: none;
    color: yellow;
}
/* Hover over pictures */
a :hover{
    color: grey;
}
/* Hover over pictures */
a:hover{
    color: grey;
}
/* Heading of text */
.heading{
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* H1s */
h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;
}
/* transition */
img {
   //:hidden;transition : opacity .3s linear
}
/* Hover over pictures */
img:hover {
    opacity: .65
}
/* Center text */
.design {
    color: white;
    justify-content: center;
}
/* Text under images */
.role{
    color: lightgrey;
    font-size: 10px;
    letter-spacing: 2px;
}
/* Small headings for pictures */
h2{
    margin-bottom: auto;
    color: yellow;
}
/* Yellow text links */
h3{
    color: yellow;
    text-decoration: none;
    font-weight: 400;
}
/* Grid_layout */
h4{
    color: white;
}
/* Footer */
.foot {
    color: yellow;
    font-size: 20px;
    float: left;
    margin-left: auto;
    padding: 20px;
} 
/* End of html */
.footer_2 {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    }
/*///////////////////// Mobile View \\\\\\\\\\\\\\\\\*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 550px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .container_1{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(9,1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      margin-top: 5px; 
      text-align: center;
    }
    img {
      height: 50%;
      width: 50%;
    }
    .grid{
      display: list-item;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(1,1fr);
      height: 80%;
      width: 70%;
      text-align: right;
      margin-left: -50px;
    }
    .middle {
      margin-left: 16px;
    }
    .group{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin-left: 85px;
      height: 80%;
      width: 70%;
    }
    h1{
      text-align: center;
      font-size: 30px;
    }
    .heading{
      font-size: 20px;
    }
     p{
      font-size: 18px;
    }
    .role{
      font-size: 7px;
    }
}
/*/////////////////////////// End of Mobile View \\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////// Tablet View \\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen 
  and (min-device-width: 551px) 
  and (max-device-width: 968px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .container_1{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 35px;
      grid-row-gap: 35px;
      margin-top: 5px;
      margin-left: -45px;
      text-align: center;
    }
    .grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin-left: 55px;
    }
    .middle{ 
      margin-left: -5px;
    }
    .group{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      text-align: center;
      margin-left: -35px;
    }
      img {
        height: 225px;
        width: 250px;
        }
      h1{
        text-align: center;
        font-size: 60px;
        }
      h3{
        font-size: 38px;
        }
      .heading{
        font-size: 32px;
        }
      p{
        font-size: 28px;
        }
      .role{
        font-size: 15px;
        }
      }
      /* End of Table */
    